<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${content.title}">Dynamic Video Update with Thymeleaf</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="video-container" th:object="${content}">
    <h2 th:text="*{title}">비디오 제목</h2>
    <!--제목,작성자-->
    <div class="title-author-container">
        <p class="author" th:text="*{author}">작성자명</p>
    </div>

    <!--영상, th:src에 서버에서 제공하는 비디오 파일 경로를 지정 -->
    <video width="640" height="360" controls>
        <source th:src="@{'/videos/' + *{videoId}}" type="video/mp4">
        죄송합니다, 귀하의 브라우저는 비디오 태그를 지원하지 않습니다.
    </video>

    <!--내용-->
    <p th:text="*{context}"></p>

    <!--댓글-->
    <div class="comment-section">
        <form action="/comment" method="post">
            <input type="text" id="comment-input" name="comment" placeholder="댓글 추가..." oninput="toggleButton()">
            <input type="submit" id="submit-button" value="댓글 작성" disabled>
            <input type="hidden" name="contentId" th:value="*{id}">
        </form>
        <ul>
            <li th:each="comment : ${comments}" th:text="${comment.text}">댓글 예시</li>
        </ul>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>
